%aside#menu
  #navigation
    .profile-picture
      %a{:href => "./HOMER _ WebApp admin theme_files/HOMER _ WebApp admin theme.html"}
        %img.img-circle.m-b{:alt => "logo", :src => "#{(current_user.avatar.present?) ? current_user.avatar.url : '/images/sample_avatar.png'}", width: 30}/
      .stats-label.text-color
        %span.font-extra-bold.font-uppercase= current_user.complete_name
        #sparkline1.small-chart.m-t-sm
          %canvas{:height => "30", :style => "display: inline-block; width: 119px; height: 30px; vertical-align: top;", :width => "119"}
        %div
          %h4.font-extra-bold.m-b-xs
            0 Pontos
    %ul#side-menu.nav
      %li.active
        %a{:href => "#{dashboard.root_path}"}
          %span.nav-label Dashboard
      %li
        %a{:href => "#"}
          %span.nav-label Artigos
          %span.fa.arrow
        %ul.nav.nav-second-level.collapse{class: (params[:module] == "author") ? 'in' : ''}
          %li
            %a{:href => "#{author.new_article_path}"} Novo Artigo
          %li
            %a{:href => "#{author.articles_path}"} Meus Artigos
          %li
            %a{:href => "#{author.articles_path(q: 'draft')}"} Rascunhos
          %li
            %a{:href => "#{author.new_article_path(q: 'fav')}"} Favoritos
      %li
        %a{:href => "http://webapplayers.com/homer_admin-v1.8/index.html#"}
          %span.nav-label Estudo
          %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          %li
            %a{:href => "#{author.new_article_path}"} Visão Geral
          %li
            %a{:href => "#{author.articles_path}"} Trilhas
          %li
            %a{:href => "#{author.articles_path(q: 'draft')}"} Simulados
          %li
            %a{:href => "#{author.new_article_path(q: 'fav')}"} Mural
          %li
            %a{:href => "#{author.new_article_path(q: 'fav')}"} Estatísticas
         
      %li
        %a{:href => "http://webapplayers.com/homer_admin-v1.8/index.html#"}
          %span.nav-label Administração
          %span.fa.arrow
        %ul.nav.nav-second-level.collapse{class: (params[:module] == "administrator") ? 'in' : ''}
          %li
            %a{:href => "#{administrator.users_path}"} Assinantes
          %li
            %a{:href => "#{administrator.article_categories_path}"} Categorias de Artigo
          %li
            %a{:href => "http://webapplayers.com/homer_admin-v1.8/project.html"} Ranking de Artigos
      %li
        %a{:href => "http://webapplayers.com/homer_admin-v1.8/index.html#", :style => 'color: #E74C3C'}
          %span.nav-label Assinatura
          %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          %li
            %a{:href => "http://webapplayers.com/homer_admin-v1.8/projects.html"} Planos
          %li
            %a{:href => "http://webapplayers.com/homer_admin-v1.8/contacts.html"} Histórico
          