.row
  .col-lg-12.text-center.m-t-md
    %h2
      Categorias de Artigo
.row
  .col-lg-12
    .hpanel
      .panel-heading
        Total de Categorias: #{@categories.count}
        %span.pull-right
          = link_to "Criar nova categoria", new_article_category_path
      .panel-body
        .table-responsive
          %table.table.table-condensedtable-striped{:cellpadding => "1", :cellspacing => "1"}
            %thead
              %tr
                %th Nº
                %th Título
                %th Descrição
                %th Somente usuários?
                %th Somente assinantes?
                %th Ativa?
                %th Data de criação
                %th Ações
            %tbody
              - @categories.each do |category|
                %tr
                  %td.col-md-3= category.title
                  %td.col-md-3= category.description
                  %td= article.only_user ? 'Sim' : 'Não'
                  %td= article.only_subscribes ? 'Sim' : 'Não'
                  %td= article.status ? 'Sim' : 'Não' 
                  %td= article.created_at.strftime("%d/%m/%Y às %H:%M")
                  %td.col-md-2
                    = link_to "editar", edit_article_path(article), class: 'btn btn-primary btn-xs'
                    = link_to "remover", article_path(article), method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: "Frase"}
